.dashboard {
    width: 90%;
    margin: 100px 100px;
    padding: 2px;
}

.dashboard-drawer {
    min-height: 600px;
}

.nav-buttons {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    text-align: right;
}


.drawer-content {
    width: calc(100% - 20px);
    margin: 10px;
}