.register-form {
    width:500px;
    margin: 20px;
    left: auto;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.login {
    width: 100%;
    margin: 10px;
}

.redirect-link {
    margin-top: 25px;
}

.action-button {
    width: 100%;
    background-color: #673ab7;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}