.login-form {
    width:500px;
    margin: 100px 100px;
    left: auto;
}

.full-width {
    width: 100%;
}

.register {
    width: 100%;
    margin: 10px;
}

.redirect-link {
    margin-top: 25px;
}

.action-button {
    width: 100%;
    background-color: #673ab7;
    color: white;
    margin-bottom: 10px;
}